<div class="main-bgd f-center">
  <div class="f-center">
    <mat-horizontal-stepper #stepper [selectedIndex]="this.stepperIndex">
      <mat-step>
        <ng-template matStepLabel>Выбор спектакля</ng-template>
        <div class="f-row">
          <ng-container *ngFor="let performance of performances">
            <mat-card class="ctn-performance">
              <mat-card-header>
                <mat-card-title>{{performance.attributes.title}}</mat-card-title>
                <mat-card-subtitle>
                  <mat-chip-list>
                    <mat-chip [style.background]="genre | stringToColor"
                              [style.color]="'black'"
                              *ngFor="let genre of performance.attributes.genres;">
                      {{genre}}
                    </mat-chip>
                  </mat-chip-list>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ng-container *ngFor="let session of sessions">
                  <button *ngIf="performance.id === session.relationships.performance.data.id" mat-raised-button (click)="setSession(session.id)">
                    <span>{{session.attributes.from | date: 'longDate'}}</span><br>
                    <span>{{session.attributes.from | date: 'shortTime'}}
                      - {{session.attributes.to | date: 'shortTime'}}</span>
                  </button>
                </ng-container>

              </mat-card-content>

            </mat-card>
          </ng-container>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Заполнение данных</ng-template>

        <form [formGroup]="clientForm" class="f-center f-column">
          <div class="f-row">
            <mat-form-field>
              <input matInput formControlName="first_name" placeholder="Имя">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="last_name" placeholder="Фамилия">
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="email" placeholder="Email">
            </mat-form-field>
          </div>

          <div class="f-row">
            <mat-form-field>
              <input matInput formControlName="birthday" [matDatepicker]="picker" placeholder="Дата рождения">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field formArrayName="payment">
              <mat-label>Способ оплаты</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.value">
                  {{paymentType.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-checkbox [checked]="agreeWithRules" (change)="setAgreeRules(!agreeWithRules)">
            Я согласен с условиями покупки билета
          </mat-checkbox>
        </form>
        <div class="f-center">
          <button mat-raised-button matStepperPrevious color="warn">Назад</button>
          <button mat-raised-button color="darkblue" [disabled]="!agreeWithRules || clientForm.invalid" (click)="stepper.next()">
            Оплатить
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Оплата</ng-template>
        <div class="f-row f-center" *ngIf="clientForm.get('payment').get('type').value === 'card'">
          <form [formGroup]="cardForm" class="f-column form-ctn">
            <mat-form-field [style.width]="'270px'">
              <input matInput formControlName="number" placeholder="Номер карты">
            </mat-form-field>
            <mat-form-field [style.width]="'100px'">
              <input matInput formControlName="valid_thru" placeholder="Дата">
            </mat-form-field>
            <mat-form-field [style.width]="'200px'">
              <input matInput formControlName="name" placeholder="Имя">
            </mat-form-field>
          </form>
          <img src="../assets/personal_credit_card.png" alt="card" class="card-img">
        </div>

        <div *ngIf="clientForm.get('payment').get('type').value === 'cash'" class="f-center">
          <span class="cash-label">Вы выбрали способ оплаты наличными.</span>
        </div>
        <div class="f-center">
          <button mat-raised-button color="warn" matStepperPrevious>Назад</button>
          <button mat-raised-button
                  color="primary"
                  (click)="submitForm()"
                  [disabled]="clientForm.get('payment').get('type').value === 'card' ?
                  cardForm.invalid :
                  false">
            Submit
          </button>
          <button mat-raised-button color="primary" (click)="badSubmitForm()" [disabled]="clientForm.get('payment').get('type').value === 'card' ? cardForm.invalid : false">Bad Submit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </div>
</div>
